body{
    font-family: "Montserrat";
    text-align: center;
}
    
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
  }


p {
    color: #8f8f8f;
    margin-top: 2%;
  }

  /*Headings*/
.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
  }
  


/*Containers*/
.container-fluid{
    padding: 7%,15%;
    
}
/*navigation bar*/

.navbar {
    padding-bottom: 0 0 4.5rem ;
}
.nav-item{
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
  }

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  #title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
  }
  
  #title .container-fluid {
    padding: 3% 15% 7%;
  }

  /* Title Image */

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
  }
/*faeatures section*/
#features{
  background-color: #fff;
  position: relative;
  
}
#feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8173;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/*Testimonials Section*/

#testimonials{
  background-color: #ef8172;
  color: #fff;
}
.testimonials-text{
  line-height: 1.5;
  font-size: 3 rem;
}
.testimonials-image{
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

#press{
  background-color: #ef8172;
  color: #fff;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/*  Pricing Section*/
#pricing{
  padding: 100px;
  
}

.press-text{
  line-height: 1.5;
  font-size: 3 rem;
}

.pricing-column{
  padding: 3% 2%;
}



@media (max-width:1104px){

  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    width: 60%;
    transform: rotate(0);
  }
}

/*  Call to action section */
#cta{
  background-color: #ff4c68;
  padding: 10%;
  font-family: Montserrat-Black;
  color: #fff;
  
}

/* footer Section */

#footer{
  padding-top: 3%;
  padding-bottom: 10%;
}

.social-icon{
  margin: 20px 10px;
}

